@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Commissioner', sans-serif;
  background: rgb(132, 219, 177);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e2ee;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #3d6d79;
  border-radius: 10px;
}

.container div {
  display: flex;
  justify-content: center;
  width: 60%;
  padding: 20px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  color: #d69d66;
  font-size: 40px;
  letter-spacing: 1px;
}

input[type="number"] {
  background: none;
  padding-top: 6px;
  background-image: url("dollar.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 30px;
  height: 36px;
  font-size: 25px;
  background-color: lightgray;
  border: 2px solid black;
  padding-bottom: 5px;
  border-radius: 5px 5px 0 0;
}

input[type="number"]:focus {
  outline: none;
}

/*Hide arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:disabled {
  color: black;
}

.currency {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

select {
  padding: 10px;
  background: transparent;
  border: 2px solid black;
  border-top: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: lightgrey;
  padding-left: 25px;
  cursor: pointer;
  border-radius: 0 0 5px 5px;
}

select:focus {
  outline: none;
}

.btn {
  appearance: none;
  border: none;
  color: black;
  background: #d69d66;
  height: 50px;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 3px 3px 10px 0px black;
  border-radius: 5px;
}

.btn:hover {
  background: #d69c66b7;
}

.btn:active {
  background: #d69d66;
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 2px 2px 5px 0px;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }
  .container div {
    width: 100%;
  }
  .currencies {
    flex-direction: column;
  }
}
